--
-- PostgreSQL database dump
--

\restrict 6g2NfLJ2hIvMgF0RZRGSIOplsL0e72BZIUkYuiSG3bJp7gdJ61iWdOYmqkbfCxB

-- Dumped from database version 17.8
-- Dumped by pg_dump version 17.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.step_images DROP CONSTRAINT IF EXISTS step_images_step_id_procedure_steps_id_fk;
ALTER TABLE IF EXISTS ONLY public.procedures DROP CONSTRAINT IF EXISTS procedures_work_type_id_work_types_id_fk;
ALTER TABLE IF EXISTS ONLY public.procedures DROP CONSTRAINT IF EXISTS procedures_port_id_ports_id_fk;
ALTER TABLE IF EXISTS ONLY public.procedures DROP CONSTRAINT IF EXISTS procedures_agent_id_agents_id_fk;
ALTER TABLE IF EXISTS ONLY public.procedure_variants DROP CONSTRAINT IF EXISTS procedure_variants_procedure_id_procedures_id_fk;
ALTER TABLE IF EXISTS ONLY public.procedure_steps DROP CONSTRAINT IF EXISTS procedure_steps_variant_id_procedure_variants_id_fk;
ALTER TABLE IF EXISTS ONLY public.procedure_agents DROP CONSTRAINT IF EXISTS procedure_agents_procedure_id_procedures_id_fk;
ALTER TABLE IF EXISTS ONLY public.procedure_agents DROP CONSTRAINT IF EXISTS procedure_agents_agent_id_agents_id_fk;
DROP INDEX IF EXISTS public.variant_procedure_idx;
DROP INDEX IF EXISTS public.step_variant_idx;
DROP INDEX IF EXISTS public.procedure_agent_unique_idx;
DROP INDEX IF EXISTS public.image_step_idx;
ALTER TABLE IF EXISTS ONLY public.work_types DROP CONSTRAINT IF EXISTS work_types_pkey;
ALTER TABLE IF EXISTS ONLY public.work_types DROP CONSTRAINT IF EXISTS work_types_code_unique;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_username_unique;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.step_images DROP CONSTRAINT IF EXISTS step_images_pkey;
ALTER TABLE IF EXISTS ONLY public.responsible_roles DROP CONSTRAINT IF EXISTS responsible_roles_pkey;
ALTER TABLE IF EXISTS ONLY public.responsible_roles DROP CONSTRAINT IF EXISTS responsible_roles_name_unique;
ALTER TABLE IF EXISTS ONLY public.responsible_roles DROP CONSTRAINT IF EXISTS responsible_roles_code_unique;
ALTER TABLE IF EXISTS ONLY public.procedures DROP CONSTRAINT IF EXISTS procedures_pkey;
ALTER TABLE IF EXISTS ONLY public.procedure_variants DROP CONSTRAINT IF EXISTS procedure_variants_pkey;
ALTER TABLE IF EXISTS ONLY public.procedure_steps DROP CONSTRAINT IF EXISTS procedure_steps_pkey;
ALTER TABLE IF EXISTS ONLY public.procedure_agents DROP CONSTRAINT IF EXISTS procedure_agents_pkey;
ALTER TABLE IF EXISTS ONLY public.ports DROP CONSTRAINT IF EXISTS ports_pkey;
ALTER TABLE IF EXISTS ONLY public.ports DROP CONSTRAINT IF EXISTS ports_code_unique;
ALTER TABLE IF EXISTS ONLY public.agents DROP CONSTRAINT IF EXISTS agents_pkey;
ALTER TABLE IF EXISTS ONLY public.agents DROP CONSTRAINT IF EXISTS agents_code_unique;
ALTER TABLE IF EXISTS ONLY drizzle.__drizzle_migrations DROP CONSTRAINT IF EXISTS __drizzle_migrations_pkey;
ALTER TABLE IF EXISTS public.work_types ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.step_images ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.responsible_roles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.procedures ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.procedure_variants ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.procedure_steps ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.procedure_agents ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.ports ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.agents ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS drizzle.__drizzle_migrations ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.work_types_id_seq;
DROP TABLE IF EXISTS public.work_types;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.step_images_id_seq;
DROP TABLE IF EXISTS public.step_images;
DROP SEQUENCE IF EXISTS public.responsible_roles_id_seq;
DROP TABLE IF EXISTS public.responsible_roles;
DROP SEQUENCE IF EXISTS public.procedures_id_seq;
DROP TABLE IF EXISTS public.procedures;
DROP SEQUENCE IF EXISTS public.procedure_variants_id_seq;
DROP TABLE IF EXISTS public.procedure_variants;
DROP SEQUENCE IF EXISTS public.procedure_steps_id_seq;
DROP TABLE IF EXISTS public.procedure_steps;
DROP SEQUENCE IF EXISTS public.procedure_agents_id_seq;
DROP TABLE IF EXISTS public.procedure_agents;
DROP SEQUENCE IF EXISTS public.ports_id_seq;
DROP TABLE IF EXISTS public.ports;
DROP SEQUENCE IF EXISTS public.agents_id_seq;
DROP TABLE IF EXISTS public.agents;
DROP SEQUENCE IF EXISTS drizzle.__drizzle_migrations_id_seq;
DROP TABLE IF EXISTS drizzle.__drizzle_migrations;
DROP SCHEMA IF EXISTS drizzle;
--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: shore_app
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO shore_app;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: shore_app
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO shore_app;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: shore_app
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO shore_app;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: shore_app
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: agents; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.agents (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agents OWNER TO shore_app;

--
-- Name: agents_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.agents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.agents_id_seq OWNER TO shore_app;

--
-- Name: agents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.agents_id_seq OWNED BY public.agents.id;


--
-- Name: ports; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.ports (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    payment_method text DEFAULT 'ออนไลน์'::text NOT NULL,
    operating_hours text,
    notes text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ports OWNER TO shore_app;

--
-- Name: ports_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.ports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ports_id_seq OWNER TO shore_app;

--
-- Name: ports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.ports_id_seq OWNED BY public.ports.id;


--
-- Name: procedure_agents; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.procedure_agents (
    id integer NOT NULL,
    procedure_id integer NOT NULL,
    agent_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.procedure_agents OWNER TO shore_app;

--
-- Name: procedure_agents_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.procedure_agents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.procedure_agents_id_seq OWNER TO shore_app;

--
-- Name: procedure_agents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.procedure_agents_id_seq OWNED BY public.procedure_agents.id;


--
-- Name: procedure_steps; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.procedure_steps (
    id integer NOT NULL,
    variant_id integer NOT NULL,
    step_number integer NOT NULL,
    title text NOT NULL,
    description text,
    sort_order integer DEFAULT 0 NOT NULL,
    responsible_role text DEFAULT 'พนักงานหน้างาน'::text NOT NULL
);


ALTER TABLE public.procedure_steps OWNER TO shore_app;

--
-- Name: procedure_steps_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.procedure_steps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.procedure_steps_id_seq OWNER TO shore_app;

--
-- Name: procedure_steps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.procedure_steps_id_seq OWNED BY public.procedure_steps.id;


--
-- Name: procedure_variants; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.procedure_variants (
    id integer NOT NULL,
    procedure_id integer NOT NULL,
    condition_name text NOT NULL,
    execution_method text NOT NULL,
    cutoff_time text,
    notes text,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.procedure_variants OWNER TO shore_app;

--
-- Name: procedure_variants_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.procedure_variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.procedure_variants_id_seq OWNER TO shore_app;

--
-- Name: procedure_variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.procedure_variants_id_seq OWNED BY public.procedure_variants.id;


--
-- Name: procedures; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.procedures (
    id integer NOT NULL,
    port_id integer NOT NULL,
    agent_id integer,
    work_type_id integer NOT NULL,
    title text NOT NULL,
    description text,
    updated_by text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    reference_documents text DEFAULT 'B/L, Booking Confirmation, ใบเสร็จชำระเงิน'::text
);


ALTER TABLE public.procedures OWNER TO shore_app;

--
-- Name: procedures_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.procedures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.procedures_id_seq OWNER TO shore_app;

--
-- Name: procedures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.procedures_id_seq OWNED BY public.procedures.id;


--
-- Name: responsible_roles; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.responsible_roles (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    color text DEFAULT 'blue'::text NOT NULL,
    icon text DEFAULT '👤'::text NOT NULL,
    description text DEFAULT ''::text,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.responsible_roles OWNER TO shore_app;

--
-- Name: responsible_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.responsible_roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.responsible_roles_id_seq OWNER TO shore_app;

--
-- Name: responsible_roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.responsible_roles_id_seq OWNED BY public.responsible_roles.id;


--
-- Name: step_images; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.step_images (
    id integer NOT NULL,
    step_id integer NOT NULL,
    bucket_name text NOT NULL,
    object_key text NOT NULL,
    original_filename text NOT NULL,
    caption text,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.step_images OWNER TO shore_app;

--
-- Name: step_images_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.step_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.step_images_id_seq OWNER TO shore_app;

--
-- Name: step_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.step_images_id_seq OWNED BY public.step_images.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    display_name text NOT NULL,
    role text DEFAULT 'user'::text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    full_name text
);


ALTER TABLE public.users OWNER TO shore_app;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO shore_app;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: work_types; Type: TABLE; Schema: public; Owner: shore_app
--

CREATE TABLE public.work_types (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.work_types OWNER TO shore_app;

--
-- Name: work_types_id_seq; Type: SEQUENCE; Schema: public; Owner: shore_app
--

CREATE SEQUENCE public.work_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.work_types_id_seq OWNER TO shore_app;

--
-- Name: work_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shore_app
--

ALTER SEQUENCE public.work_types_id_seq OWNED BY public.work_types.id;


--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: shore_app
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Name: agents id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.agents ALTER COLUMN id SET DEFAULT nextval('public.agents_id_seq'::regclass);


--
-- Name: ports id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.ports ALTER COLUMN id SET DEFAULT nextval('public.ports_id_seq'::regclass);


--
-- Name: procedure_agents id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_agents ALTER COLUMN id SET DEFAULT nextval('public.procedure_agents_id_seq'::regclass);


--
-- Name: procedure_steps id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_steps ALTER COLUMN id SET DEFAULT nextval('public.procedure_steps_id_seq'::regclass);


--
-- Name: procedure_variants id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_variants ALTER COLUMN id SET DEFAULT nextval('public.procedure_variants_id_seq'::regclass);


--
-- Name: procedures id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedures ALTER COLUMN id SET DEFAULT nextval('public.procedures_id_seq'::regclass);


--
-- Name: responsible_roles id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.responsible_roles ALTER COLUMN id SET DEFAULT nextval('public.responsible_roles_id_seq'::regclass);


--
-- Name: step_images id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.step_images ALTER COLUMN id SET DEFAULT nextval('public.step_images_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: work_types id; Type: DEFAULT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.work_types ALTER COLUMN id SET DEFAULT nextval('public.work_types_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: shore_app
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
1	575be02f8682ab6992ffbffc7a80863c58ce509e0d633d92e8c70786491ca8d0	1790751771592
2	0980bc49032e8beee57d3c3bb6a7b0206fd383bca4d631afd96922ff6bb04e9b	1790831989317
3	f92f7cf2c2942bd730ea003c6803cecc6401ab60484cf89452a237ebf24739e8	1790832696796
4	8361948cd81de7063c4790bfb38be6adaeefb9bb0c9164661dfe80b9aff60ef5	1790833866387
5	75827e4dc7bc579001238dd80112e687c139cbfa90f66b3ec3b4fcaa8594c167	1790838503791
\.


--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: shore_app
--



--
-- Data for Name: ports; Type: TABLE DATA; Schema: public; Owner: shore_app
--



--
-- Data for Name: procedure_agents; Type: TABLE DATA; Schema: public; Owner: shore_app
--

COPY public.procedure_agents (id, procedure_id, agent_id, created_at) FROM stdin;
37	26	1	2026-10-01 08:27:09.210977
38	27	1	2026-10-01 08:33:10.658062
47	1	1	2026-10-02 04:26:02.756503
48	1	2	2026-10-02 04:26:02.760108
49	1	3	2026-10-02 04:26:02.761665
\.


--
-- Data for Name: procedure_steps; Type: TABLE DATA; Schema: public; Owner: shore_app
--



--
-- Data for Name: procedure_variants; Type: TABLE DATA; Schema: public; Owner: shore_app
--

COPY public.procedure_variants (id, procedure_id, condition_name, execution_method, cutoff_time, notes, sort_order) FROM stdin;
32	26	กรณีปกติ (ชำระผ่านระบบ Web Portal)	Web Portal	-		1
39	1	กรณีปกติ (ชำระผ่านระบบ e-Portal)	Web Portal	ก่อน 15:30 น.	กรุณาตรวจสอบยอดเงินและรอดราฟใบเสร็จก่อนตัดจ่ายทุกครั้ง	1
40	1	กรณีระบบขัดข้อง (ชำระฉุกเฉิน)	ส่งเอกสารผ่าน LINE Official	ก่อน 16:00 น.	ต้องโทรยืนยันกับเจ้าหน้าที่การเงินหลังส่งไลน์ทุกครั้ง โทร 038-xxx-xxx	2
\.


--
-- Data for Name: procedures; Type: TABLE DATA; Schema: public; Owner: shore_app
--



--
-- Data for Name: responsible_roles; Type: TABLE DATA; Schema: public; Owner: shore_app
--



--
-- Data for Name: step_images; Type: TABLE DATA; Schema: public; Owner: shore_app
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: shore_app
--

COPY public.users (id, username, password_hash, display_name, role, is_active, created_at, full_name) FROM stdin;
1	admin	$argon2id$v=19$m=65536,t=2,p=1$hpZYgG4OgxpMM2hSkanqLNY/JIKGaKOuT1X5C3n6TVQ$JLqFPxOOZz5Vm/7bZJC2NV6ZLMsUIeM+YQePBWWK4X0	สมเกียรติ สุวรรณสิทธิ์	admin	t	2026-09-30 07:03:03.447891	สมเกียรติ สุวรรณสิทธิ์ (Admin)
2	kan	$argon2id$v=19$m=65536,t=2,p=1$hpZYgG4OgxpMM2hSkanqLNY/JIKGaKOuT1X5C3n6TVQ$JLqFPxOOZz5Vm/7bZJC2NV6ZLMsUIeM+YQePBWWK4X0	กานต์ ประดิษฐ์วงษ์	user	t	2026-09-30 07:03:03.447891	กานต์ ประดิษฐ์วงษ์ (Kan)
\.


--
-- Data for Name: work_types; Type: TABLE DATA; Schema: public; Owner: shore_app
--

COPY public.work_types (id, code, name, created_at) FROM stdin;
1	SHORE_PAY	จ่ายชอร์	2026-09-30 07:03:03.55953
2	DEPOSIT_RETURN	วางบิล/มัดจำตู้	2026-09-30 07:03:03.56241
\.


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: shore_app
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 5, true);


--
-- Name: agents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.agents_id_seq', 20, true);


--
-- Name: ports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.ports_id_seq', 32, true);


--
-- Name: procedure_agents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.procedure_agents_id_seq', 52, true);


--
-- Name: procedure_steps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.procedure_steps_id_seq', 91, true);


--
-- Name: procedure_variants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.procedure_variants_id_seq', 42, true);


--
-- Name: procedures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.procedures_id_seq', 38, true);


--
-- Name: responsible_roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.responsible_roles_id_seq', 7, true);


--
-- Name: step_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.step_images_id_seq', 11, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: work_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shore_app
--

SELECT pg_catalog.setval('public.work_types_id_seq', 2, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: shore_app
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: agents agents_code_unique; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_code_unique UNIQUE (code);


--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: ports ports_code_unique; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.ports
    ADD CONSTRAINT ports_code_unique UNIQUE (code);


--
-- Name: ports ports_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.ports
    ADD CONSTRAINT ports_pkey PRIMARY KEY (id);


--
-- Name: procedure_agents procedure_agents_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_agents
    ADD CONSTRAINT procedure_agents_pkey PRIMARY KEY (id);


--
-- Name: procedure_steps procedure_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_steps
    ADD CONSTRAINT procedure_steps_pkey PRIMARY KEY (id);


--
-- Name: procedure_variants procedure_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_variants
    ADD CONSTRAINT procedure_variants_pkey PRIMARY KEY (id);


--
-- Name: procedures procedures_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedures
    ADD CONSTRAINT procedures_pkey PRIMARY KEY (id);


--
-- Name: responsible_roles responsible_roles_code_unique; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.responsible_roles
    ADD CONSTRAINT responsible_roles_code_unique UNIQUE (code);


--
-- Name: responsible_roles responsible_roles_name_unique; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.responsible_roles
    ADD CONSTRAINT responsible_roles_name_unique UNIQUE (name);


--
-- Name: responsible_roles responsible_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.responsible_roles
    ADD CONSTRAINT responsible_roles_pkey PRIMARY KEY (id);


--
-- Name: step_images step_images_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.step_images
    ADD CONSTRAINT step_images_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: work_types work_types_code_unique; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.work_types
    ADD CONSTRAINT work_types_code_unique UNIQUE (code);


--
-- Name: work_types work_types_pkey; Type: CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.work_types
    ADD CONSTRAINT work_types_pkey PRIMARY KEY (id);


--
-- Name: image_step_idx; Type: INDEX; Schema: public; Owner: shore_app
--

CREATE INDEX image_step_idx ON public.step_images USING btree (step_id);


--
-- Name: procedure_agent_unique_idx; Type: INDEX; Schema: public; Owner: shore_app
--

CREATE UNIQUE INDEX procedure_agent_unique_idx ON public.procedure_agents USING btree (procedure_id, agent_id);


--
-- Name: step_variant_idx; Type: INDEX; Schema: public; Owner: shore_app
--

CREATE INDEX step_variant_idx ON public.procedure_steps USING btree (variant_id);


--
-- Name: variant_procedure_idx; Type: INDEX; Schema: public; Owner: shore_app
--

CREATE INDEX variant_procedure_idx ON public.procedure_variants USING btree (procedure_id);


--
-- Name: procedure_agents procedure_agents_agent_id_agents_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_agents
    ADD CONSTRAINT procedure_agents_agent_id_agents_id_fk FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE CASCADE;


--
-- Name: procedure_agents procedure_agents_procedure_id_procedures_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_agents
    ADD CONSTRAINT procedure_agents_procedure_id_procedures_id_fk FOREIGN KEY (procedure_id) REFERENCES public.procedures(id) ON DELETE CASCADE;


--
-- Name: procedure_steps procedure_steps_variant_id_procedure_variants_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_steps
    ADD CONSTRAINT procedure_steps_variant_id_procedure_variants_id_fk FOREIGN KEY (variant_id) REFERENCES public.procedure_variants(id) ON DELETE CASCADE;


--
-- Name: procedure_variants procedure_variants_procedure_id_procedures_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedure_variants
    ADD CONSTRAINT procedure_variants_procedure_id_procedures_id_fk FOREIGN KEY (procedure_id) REFERENCES public.procedures(id) ON DELETE CASCADE;


--
-- Name: procedures procedures_agent_id_agents_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedures
    ADD CONSTRAINT procedures_agent_id_agents_id_fk FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE SET NULL;


--
-- Name: procedures procedures_port_id_ports_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedures
    ADD CONSTRAINT procedures_port_id_ports_id_fk FOREIGN KEY (port_id) REFERENCES public.ports(id) ON DELETE RESTRICT;


--
-- Name: procedures procedures_work_type_id_work_types_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.procedures
    ADD CONSTRAINT procedures_work_type_id_work_types_id_fk FOREIGN KEY (work_type_id) REFERENCES public.work_types(id) ON DELETE RESTRICT;


--
-- Name: step_images step_images_step_id_procedure_steps_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: shore_app
--

ALTER TABLE ONLY public.step_images
    ADD CONSTRAINT step_images_step_id_procedure_steps_id_fk FOREIGN KEY (step_id) REFERENCES public.procedure_steps(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 6g2NfLJ2hIvMgF0RZRGSIOplsL0e72BZIUkYuiSG3bJp7gdJ61iWdOYmqkbfCxB

